option_settings:
  aws:elb:listener:443:
    ListenerEnabled: true
    Protocol: HTTPS
    SSLCertificateId: "arn:aws:acm:us-east-2:446872464883:certificate/4b7ea6d7-d8b9-4133-8504-07d327c1d61f"
    Port: 443

  aws:elb:listener:80:
    ListenerEnabled: true
    Protocol: HTTP
    Port: 80

  aws:elasticbeanstalk:environment:process:default:
    Port: 8081
    Protocol: HTTP
